
<div class="commitModal">
    <h2 mat-dialog-title>Comments</h2>
    <form [formGroup]="form">
        <mat-dialog-content>
            <div layout="row" flex>
                <mat-form-field class="full-width">
                    <textarea matInput mat-autosize minRows="6" formControlName="txtComment" placeholder="Provide comments"></textarea>
                </mat-form-field>
            </div>
        </mat-dialog-content>
        <mat-dialog-actions>
            <button mat-button mat-dialog-close>Cancel</button>
            <!-- Can optionally provide a result for the closing dialog. -->
            <button mat-button [mat-dialog-close]="form.controls.txtComment.value">Submit</button>
        </mat-dialog-actions>
    </form>
</div>