
<mat-toolbar color="primary">
    <div class="col-mat-12 pull-right"
         fxLayout
         fxLayout.xs="column"
         fxLayoutAlign="center"
         fxLayoutGap="10px"
         fxLayoutGap.xs="0">
        <div class="item item-1" fxFlex="25%"><span>Business Object - {{form.controls.name.value}}</span></div>
        <div class="item item-2 pull-right" fxFlex="35%" fxFlexOrder="3">
            <button mat-button *ngIf="status=='Published'" (click)="edit()">Edit</button>
            <button mat-button *ngIf="status=='Draft'" (click)="save()">Save</button>
            <button mat-button *ngIf="status=='Draft'" (click)="publish()">Publish</button>
            <button mat-button *ngIf="status=='Draft'" (click)="cancel()">Refresh</button>
            <button mat-button (click)="run()">Run</button>
        </div>
        <div class="item item-3" fxFlex></div>
    </div>
</mat-toolbar>
<mat-tab-group>

    <mat-tab label="Code">
        <div class="row">
            <!--<div class="col-mat-2">
                <mat-radio-group class="example-radio-group" [(ngModel)]="codeType">
                    <mat-radio-button class="example-radio-button" [checked] ="true" value="Local">
                        Local
                    </mat-radio-button>
                    <mat-radio-button class="example-radio-button" value="Remote">
                        Remote
                    </mat-radio-button>
                </mat-radio-group>
            </div>-->
            <div class="col-mat-2 pull-right">
                <select id="languages" class="form-control" [(ngModel)]="locallanguage">
                    <option *ngFor="let g of locallanguages" [ngValue]="g.value">{{g.DisplayName}}</option>
                </select>
                <!--<select [hidden] ="!codeType === 'Remote'" id="remotelanguages" class="form-control" [(ngModel)]="remotelanguage">
                    <option *ngFor="let g of remotelanguages" [ngValue]="g.value">{{g.DisplayName}}</option>
                </select>-->
            </div>
        </div>
        <div class="row">
            <div class="col-mat-12">
                <monaco-editor [readonly]="readOnly" id="localeditor" [language]="locallanguage"
                               [(ngModel)]="localCode"></monaco-editor>
            </div>
        </div>
    </mat-tab>




    <mat-tab label="General">



        <form [formGroup]="form" class="form-horizontal" novalidate>
            <div class="row">
                <div class="col-mat-6">
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.name.valid && form.controls.name.touched), 'has-success': (form.controls.name.valid && form.controls.name.touched)}">
                        <label for="inputname" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="name" type="text" class="form-control" id="inputname" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.namespace.valid && form.controls.namespace.touched), 'has-success': (form.controls.namespace.valid && form.controls.namespace.touched)}">
                        <label for="inputnamespace" class="col-sm-2 control-label">Name space</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="namespace" type="text" class="form-control" id="inputnamespace" placeholder="name space">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.menupath.valid && form.controls.menupath.touched), 'has-success': (form.controls.menupath.valid && form.controls.menupath.touched)}">
                        <label for="inputmenupath" class="col-sm-2 control-label">Menu</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="menupath" type="text" class="form-control" id="inputmenupath" placeholder="menu path">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.timeout.valid && form.controls.timeout.touched), 'has-success': (form.controls.timeout.valid && form.controls.timeout.touched)}">
                        <label for="inputtimeout" class="col-sm-2 control-label">Timeout</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="timeout" type="text" class="form-control" id="inputtimeout" value="300" placeholder="Time out in seconds">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputtype" class="col-sm-2 control-label">Type</label>
                        <div class="col-sm-10">
                            <div class="input-demo radio-demo row">
                                <div class="col-mat-6">
                                    <label class="radio-inline custom-radio nowrap">
                                        <input [readonly]="readOnly" type="radio" id="defaultRadio" checked="checked" value="Local" formControlName="type">
                                        <span>Local</span>
                                    </label>
                                </div>
                                <div class="col-mat-6">
                                    <label class="radio-inline custom-radio nowrap">
                                        <input [readonly]="readOnly" type="radio" id="arrayRadio" value="Remote" formControlName="type">
                                        <span>Remote</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.queue.valid && form.controls.queue.touched), 'has-success': (form.controls.queue.valid && form.controls.queue.touched)}">
                        <label for="inputqueue" class="col-sm-2 control-label">Queue</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="queue" type="text" class="form-control" id="inputqueue" placeholder="Queue name">
                        </div>
                    </div>
                    <div class="form-group row" [ngClass]="{'has-error': (!form.controls.isactive.valid && form.controls.isactive.touched), 'has-success': (form.controls.isactive.valid && form.controls.isactive.touched)}">
                        <label for="inputisactive" class="col-sm-2 control-label">Is Active?</label>
                        <div class="col-sm-10">
                            <input [readonly]="readOnly" formControlName="isactive" type="checkbox" class="form-control" multiple id="inputisactive">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputsummary" class="col-sm-2 control-label">Summary</label>
                        <div class="col-sm-10">
                            <textarea [readonly]="readOnly" formControlName="summary" type="text" cols="40" rows="3" class="form-control" id="inputsummary" placeholder="summary"> </textarea>
                        </div>
                    </div>
                    <div class="col-mat-6">
                        <div class="form-group row">
                            <label for="inputcreatedby" class="col-sm-3 control-label">Created By</label>
                            <div class="col-sm-9">
                                {{CreatedBy}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputmodifiedby" class="col-sm-3 control-label">Modified By</label>
                            <div class="col-sm-9">
                                {{ModifiedBy}}
                            </div>
                        </div>
                    </div>
                    <div class="col-mat-6">
                        <div class="form-group row">
                            <label for="inputcreatedon" class="col-sm-3 control-label">Created On</label>
                            <div class="col-sm-9">
                                {{CreatedOn}}
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputmodifiedon" class="col-sm-3 control-label">Modified On</label>
                            <div class="col-sm-9">
                                {{ModifiedOn}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-mat-6">
                    <div class="form-group row">
                        <label for="inputdescription" class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-12">
                            <textarea [readonly]="readOnly" formControlName="description" type="text" class="form-control" cols="40" rows="10" id="inputdescription" placeholder="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group row">
                        <role-permission [readonly]="readOnly" formControlName="permittedRole" [ParetId]="taskId" [(ngModel)]="permittedRoles"></role-permission>
                    </div>
                </div>
            </div>
        </form>
    </mat-tab>


    <mat-tab label="Parameters">
        <parameter-view [readonly]="readOnly" [ActiontaskId]="taskId" [(ngModel)]="parameters"></parameter-view>
    </mat-tab>
    <mat-tab label="Remote">
        <div class="row">
            <div class="col-mat-2 pull-right">
                <select id="remotelanguages" class="form-control" [(ngModel)]="remotelanguage">
                    <option *ngFor="let g of remotelanguages" [ngValue]="g.value">{{g.DisplayName}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-mat-12">
                <!--        <monaco-editor id="remoteeditor" [language]="remotelanguage" [(ngModel)]="remoteCode"></monaco-editor>-->
            </div>
        </div>
    </mat-tab>
    <mat-tab label="References">
        <!--<actiontask-references [(ActiontaskId)] ="taskId"></actiontask-references>-->
    </mat-tab>
    <mat-tab label="History">
    </mat-tab>
    <mat-tab label="Libraries">
    </mat-tab>

</mat-tab-group>
